#content{
			width: 80%;
			margin: 20px auto;
			border: 2px solid #000;
			margin-bottom: 70px;
		}
		form{
			width: 50%;
			margin: 20px auto;
			margin-top: 50px;
		}
		form div{
			margin-top: 50px;
		}
		#img_div{
			width: 80%;
			padding: 5px;
			margin: 15px auto;
			border: 2px solid #000;
		}
		#img_div:after{
			content: "";
			display: block;
			clear: both;
		}
		img{
			float: left;
			margin: 5px;
			width: 350px;
			height: 250px;
		}
		@media print 
		{
		   @page
		   {
		    size: 8.5in 5.5in;
		    size: landscape;
		  }
		}